<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Abhinash</td>
        <td>abhi@hotmail.com</td>
        <td>hgh5445</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Shrutee</td>
        <td>shrutee@yahoo.com</td>
        <td>14865</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ketan</td>
        <td>ken@outlook.com</td>
        <td>ken12</td>
      </tr>
    </tbody>
  </table>

