<div class="row">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product name</th>
            <th scope="col">Model Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Realme</td>
            <td>X50 Pro</td>
            <td>40,000</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Samsung</td>
            <td>S20</td>
            <td>50,000</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Oppo</td>
            <td>Reno</td>
            <td>25,000</td>

          </tr>
          <tr>
            <th scope="row">4</th>
            <td>OnePlus</td>
            <td>OnePlus7T</td>
            <td>39,999</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Apple</td>
            <td>iphoneXS</td>
            <td>39,990</td>

          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Xioami</td>
            <td>RedmiK20Pro</td>
            <td>25,000</td> 
          </tr>
        </tbody>
      </table>
    </div>
</div>

